<div id="<%= dom_id product %>">



<p>*image goes here*</p>
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Designer:</strong>
    <%= product.designer %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category.category %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product.size %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    $<%= product.price %>
  </p>

  <p>
      <%= link_to "Show this product", product %>
    </p>

<p>*add add to cart button*</p>
</div>
