<div class="product">

<h3>
    <%= product.name %>
  </h3>

<%= image_tag product.image, :size => '180x180' %>

  <p>
      <%= link_to "Show this product", product %>
  </p>

  <p>
    <strong>Designer:</strong>
    <%= product.designer %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category.category %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product.size %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    $<%= product.price %>
  </p>

  <% if cart.include?(product)%>
  <%= button_to cart_path(product), method: :delete do%>
    Remove from cart
  <% end %>
  <% else%>
  <%= form_with url: cart_index_path, method: :post do %>
    <%= hidden_field_tag :id, product.id %>
    <%= button_tag 'Add to Cart' %>
    <% end%>
  <% end %>
</div>
