<div id="<%= dom_id product %>">


<h3>
    <%= product.name %>
  </h3>

<%= image_tag product.image, :size => '180x180' %>

  <p>
      <%= link_to "Show this product", product %>
  </p>




  <p>
    <strong>Designer:</strong>
    <%= product.designer %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category.category %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product.size %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    $<%= product.price %>
  </p>
<p>*add add to cart button*</p>
</div>
