  <%= link_to root_path do %>
   <%= image_tag "rarityLogoSmall.png", height: 30%>
  <% end %>
  <%= link_to "Categories", category_index_path %>

  <% if user_signed_in? %>
  | Logged in as <%= current_user.email %> |
    <%= link_to "Log out", destroy_user_session_path, :method=>'delete'%>
  <% else %>
  |  <%= link_to "Login", new_user_session_path %>
  <% end %>

  <div style="width:50%">
  <%= form_with(url:search_path, method: :get, local: true) do  %>
          <% categories_array = Category.all.map { |category| [category.category, category.id] } %>
          <% categories_array.unshift ("All") %>
          <%= text_field_tag(:keywords, nil, class: "input", placeholder: "Search for a product") %>
          <%= select_tag :category, options_for_select(categories_array) %>
          <%= submit_tag("Search", class: "button") %>
  <% end %>
</div>